@tailwind base;
@tailwind components;
@tailwind utilities;

@import "css/navbar.css";

div#loading {
  position: fixed;
  margin: 0;

  height:100vh;
  width: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  z-index: 100;
  background-color: #FFFF;
  background-image: url(../src/img/background/gray-floral.png);

  animation-name: loadingtranslateup;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-timing-function: ease-in;
}

@keyframes loadingtranslateup {
  /* from {transform : translateY(0)}
  to {transform : translateY(-8000px)}
  */
  from {opacity: 1;}
  99.99% {opacity: 0;}
  to {opacity: 0; visibility: hidden;}
}

h1#loadingtitle {
  animation-name: titlefadein;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}

@keyframes titlefadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

br {
  display: block;
  margin: 30px 0;
  line-height:22px;
}

body {
  background-color: #FFFF;
  /* background-image: url(../src/img/background/gray-floral.png); */
}

nav {
  background-color: #FFFF;
  background-image: url(../src/img/background/gray-floral.png);
}

.App {
  text-align: center;
}

@layer base {
  html {
    font-family: Roboto, sans-serif;
    
    color: #3B1524;
  }
  
  h1 {
    /*font-family: Roboto, sans-serif;*/
    font-size: 2rem;
    
  }
}


@layer components {
  input {
    outline: none;
    @apply bg-transparent hover:bg-transparent active:bg-transparent focus:bg-transparent;
    @apply focus:border-l-[4px] focus:py-1 focus:border-[#E82E88];
    @apply border-l-[2px] border-b-[2px]  pl-2 border-[#631543] mt-1 mb-6 rounded-md;
  }

  input#submit {
    @apply border-[2px] hover:border-[#E82E88] py-2 lg:w-1/6 w-1/2;
  }

  textarea {
    outline: none; /* remove this line to return default outline behavior of input tags */ 
    resize: none;
    @apply bg-transparent hover:bg-transparent active:bg-transparent focus:bg-transparent;
    @apply focus:border-l-[4px] focus:py-1 focus:border-[#E82E88];
    @apply border-l-[2px] border-b-[2px]  pl-2 border-[#631543] mt-1 mb-6 rounded-md;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

#lilly {
  background-image: url(../public/img/more/lilly.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

#filter {
  background: rgba(59, 21, 36, 0.6);
}

#contact {
  /* background: rgba(59, 21, 36, ); */
}